    #cardone_home {
        background-size: cover;
        background-repeat: no-repeat;
        max-width: 100%;
        min-height: 50vh;
        border-radius: 40px;
        cursor: pointer;
    }

    #cardone_home:hover {
        border: solid red 2px;
    }

    #cardtwo_home {
        background-size: cover;
        background-repeat: no-repeat;
        max-width: 100%;
        min-height: 50vh;
        border-radius: 40px;
        cursor: pointer;
    }

    #cardtwo_home:hover {
        border: solid red 2px;
    }

    #cardthree_home {
        background-size: cover;
        background-repeat: no-repeat;
        max-width: 100%;
        min-height: 50vh;
        border-radius: 40px;
        cursor: pointer;
    }

    #cardthree_home:hover {
        border: solid red 2px;
    }


    @media(max-width: 767px) {
        #col_cardhome {
            margin-bottom: 5%;
        }

    }