.circle_profile {
    background-size:100% 100%;
    border:solid #E30613 10px;
    border-radius:100%;
    width:400px;
    height:400px;
}

.bg-profile {
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.04245448179271705) 0%, rgba(0, 0, 0, 1) 100%);
}

#getFile {
    display: none;
}